In [1]:
import pandas as pd

In [2]:
df = pd.read_json('data/sentiment/Books_small_10000.json')

In [3]:
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A1F2H80A1ZNN1N,B00GDM3NQC,Connie Correll,"[0, 0]","I bought both boxed sets, books 1-5. Really a...",5,Can't stop reading!,1390435200,"01 23, 2014"
1,AI3DRTKCSK4KX,B00A5MREAM,Grandma,"[0, 0]",I enjoyed this short book. But it was way way ...,3,A leaf on the wind of all hallows,1399593600,"05 9, 2014"
2,A3KAKFHY9DAC8A,0446547573,"toobusyreading ""Inspired Kathy""","[1, 1]",I love Nicholas Sparks. I&#8217;ve read everyt...,4,Great writing from Nicholas Sparks.,1404518400,"07 5, 2014"
3,ATYBCYD6BIXVL,0955809215,Chrissie,"[0, 0]",I really enjoyed this adventure and look forwa...,4,great,1389225600,"01 9, 2014"
4,A17K95SEU3J68U,0991500776,"Sirde ""artist761""","[0, 0]",It was a decent read.. typical story line. Not...,3,It was a decent read.. typical story line ...,1404864000,"07 9, 2014"

In [6]:
df["sentiment"] = df.apply(lambda x: 'POSITIVE' if x["overall"]>=4 else 'NEUTRAL' if x["overall"]>2 else 'NEGETIVE',axis=1)

In [8]:
reviews  = df[["reviewText","sentiment"]]

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(reviews["reviewText"],reviews["sentiment"],test_size=0.3,random_state=32)

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

vect = TfidfVectorizer()
x_train = vect.fit_transform(X_train)
x_test = vect.transform(X_test)

In [25]:
from sklearn import svm
clf = svm.SVC(kernel='linear')

clf.fit(x_train,y_train)
clf.predict(x_test)

array(['POSITIVE', 'POSITIVE', 'POSITIVE', ..., 'POSITIVE', 'POSITIVE',
       'NEUTRAL'], dtype=object)

In [26]:
clf.score(x_test,y_test)

0.8466666666666667

In [30]:
from sklearn.metrics import f1_score
f1_score(y_test,clf.predict(x_test),labels=["POSITIVE","NEUTRAL","NEGETIVE"],average=None)

array([0.91999257, 0.14730878, 0.27692308])

In [31]:
import pickle
with open('sentiment_classifier_svm.pkl','wb') as fp:
    pickle.dump(clf,fp)